{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.spec.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.spec.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
