<mat-card class="game-card" data-testid="game-card">
  @if (loading$ | async) {
    <ng-container *ngTemplateOutlet="loadingState"></ng-container>
  }
  @if (result$ | async; as result) {
    <mat-card-header>
      <mat-card-title data-testid="game-title">
        Comparing
        {{
          (resourceType$ | async) === Resource.PEOPLE ? 'People' : 'Star ships'
        }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="cards-container">
        <div class="cards-container__left" data-testid="left-card">
          <p>Left Wins: {{ leftWinsCount }}</p>

          <app-info-card
            [data]="result[0]"
            [status]="leftStatus"
          ></app-info-card>
        </div>
        <div class="cards-container__right" data-testid="right-card">
          <p>Right Wins: {{ rightWinsCount }}</p>

          <app-info-card
            [data]="result[1]"
            [status]="rightStatus"
          ></app-info-card>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="game-card__actions">
      <button mat-flat-button color="primary" (click)="goToStart()">
        GO TO START
      </button>
      <button mat-flat-button color="primary" (click)="fetchRandomCards()">
        PLAY AGAIN
      </button>
    </mat-card-actions>
  } @else {
    <ng-container *ngTemplateOutlet="loadingState"></ng-container>
  }
</mat-card>
<ng-template #loadingState>
  <div class="loading-state">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
